<% if @sentences %>

<%= form_with(model: [sentence, comment], url: sentence_comments_path(sentence) ) do |f| %>
<div class="comment-wrap">
    <%= f.text_area :text, placeholder: 'コメント入力...' %>
</div>
     <div class="comment-do">
    <%= f.submit "コメントする", class: "comment-submit" %>
    </div>
<% end %>
<% elsif @sound %>

<%= form_with(model: [sound, comment], url: sound_comments_path(sound) ) do |f| %>
<div class="comment-wrap">
    <%= f.text_area :text, placeholder: 'コメント入力...' %>
</div>
     <div class="comment-do">
    <%= f.submit "コメントする" %>
    </div>
<%end %>
<% elsif @image %>

<%= form_with(model: [image, comment], url: image_comments_path(image) ) do |f| %>
<div class="comment-wrap">
    <%= f.text_area :text, placeholder: 'コメント入力...' %>
</div>
<div class="comment-do">
    <%= f.submit "コメントする" %>
</div>
<%end %>
<% else @video %>

<%= form_with(model: [video, comment], url: video_comments_path(video) ) do |f| %>
<div class="comment-wrap">
    <%= f.text_area :text, placeholder: 'コメント入力...' %>
</div>
    <div class="comment-do">
    <%= f.submit "コメントする" %>
    </div>
<% end %>
<% end %>