  <div class="tagedBox">
  <% sentencework = Sentence.where(id: sentence.sentence_id) %>
  <% sentencework.each do |iworks| %>
  <% user = User.find_by(id: iworks.user_id ) %>
<div class="taged-user-wrapper">
<div class="taged-usericon">
<% icon = Icon.find_by(user_id: iworks.user.id) %>
    <% if icon %>
    <%= image_tag icon.icon, :size => '30', class: 'usericon' %>
    <% else %>
    <%= image_tag 'user.png', :size => '30', class: 'usericon'  %>
    <% end %>
</div>
<div class="taged-user-box">
<div id="taged-name">
 <%= user.nickname %>
 </div>
 <div id="taged-word">
  <%= user.word %>
  </div>
</div>
</div>
<%= link_to  sentence_path(iworks.id) do %>
<div class="works" id="sentence">
 <%= iworks.content %>
</div>
<div class="taged-works-intro">
 <div id="title">
 <%= iworks.title %>
 </div>
  <div id="content">
   <%= iworks.summary %>
 </div>
</div>
  <% end %>
<% end %>
</div>