
<div class="searched-contents">
<div class="searched-result">
<div class="tagname">
＃<%= @tagname %>
</div>
<div class="tagcount">
の検索結果は<%= @total.count %>件です。
</div>
</div>

<div class="taged-works-wrapper">
<% @taged_works.each do |work| %>
 <% works = PostTag.where(tag_id: work.id).order("created_at desc") %>
   <% works.each do |swork| %>
  <% if swork.image_id %>
    <%= render partial: 'search/image_search', locals: { image: swork }  %>
  <% elsif swork.video_id %>
    <%= render partial: 'search/video_search', locals: { video: swork }  %>
  <% elsif swork.sound_id %>
    <%= render partial: 'search/sound_search', locals: { sound: swork }  %>
  <% else swork.sentence_id %>
    <%= render partial: 'search/sentence_search', locals: { sentence: swork }  %>
    <% end %>
  <% end %>
   <% end %>
  </div>

</div>