  <%= form_with model: @sentences, local: true do |s| %>
<div class="posts-wrapper-content">
 <div class="preview" id="image">

  <div class="sentence-content">
    <%= s.text_area :content, placeholder: "本文", :value => @sentences.content %>

  </div>
  </div>
  <div class="information-content">
  <div class="info-cover">
  <div class="title-form">
  <%# :タイトルを入力してください %>
  </div>
  <%= s.text_field :title , placeholder: "タイトル", :value => @sentences.title %>
    <div class="content-wrapper">
    <%# :内容を入力してください。 %>
    </div>
  <%= s.text_area :summary, placeholder: "内容", class: 'content-form', :value => @sentences.summary %>
  <%= s.submit "投稿する", class: 'send-button' %>
  <% end %>
  </div>
  </div>
</div>
