<div class="posts-wrapper-content">
　<div class="preview" id="image">
  <%= form_with model: @sentence, local: true do |s| %>

  <div class="sentence-content">
    <%= s.text_area :content, placefolder: "story" %>
  </div>
  </div>
  <div class="information-content">
  <div class="info-cover">
  <div class="title-form">
  :タイトルを入力してください
  </div>
    <%= s.text_field :title %>
  <div class="content-wrapper">
  :内容を入力してください。
  </div>
    <%= s.text_area :summary, class: 'content-form' %>
    <%= s.submit "投稿する", class: 'send-button' %>

  </div>
    <% end %>
  </div>
</div>