  <div class="liked-user-wrapper">
  <div class="like-works-wrapper">
    <div class="wrapper-like">

     <% work = Image.find(work.id) %>
     <% icon = Icon.find_by(user_id: work.user.id) %>
      <% if icon %>
      <%= image_tag icon.icon, :size => '30', class: 'usericon' %>
    <% else %>
    <%= image_tag 'user.png', :size => '30', class: 'usericon'  %>
    <% end %>
    <div class="user-wrap-like">
  <div class="username">
  <%= link_to user_path(work.user.id) do %>
  <%= work.user.nickname %>
  <% end %>
  </div>
    <div class="word">
    <%= work.user.word %>
  </div>
  </div>
  </div>
  <%= link_to  image_path(work.id) do %>
  <div id="works">

    <%= image_tag work.image, :size =>'600' %>
  <%# <% end %>
   </div>
   <div class="l-tcwrapper">
    <div id="like-<%= work.id %>">
    <%= render 'likes/image_like', { image: work} %>
    </div>
    <%= link_to image_path(work.id) do %>
    <% end %>
   </div>
  <div id="title">
  <%= work.title %>
  </div>
  <div id="content">
  <%= work.content %>
  </div>
  </div>
</div>
 <% end %>
</div>
