
  <div class="liked-user-wrapper">
  <div class="like-works-wrapper">
    <div class="wrapper-like">
    <div class="fw-btn">
    <%# <%= render "users/follow_form" %>
    </div>
     <% sentence = Sentence.find(like.sentence_id) %>
     <% icon = Icon.find_by(user_id: sentence.user.id) %>
      <% if icon %>
      <%= image_tag icon.icon, :size => '30', class: 'usericon' %>
    <% else %>
    <%= image_tag '', :size => '30', class: 'usericon'  %>
    <% end %>
     <div class="user-wrap-like">
  <div class="username">
  <%= link_to user_path(sentence.user.id) do %>
  <%= sentence.user.nickname %>
  <% end %>
  </div>
    <div class="word">
    <%= sentence.user.word %>
  </div>
  </div>
  </div>
  <div id="works" >

<div class="sentence_content">
<div id="sentences">
  <%= sentence.content %>adjanfla

  </div>
  </div>
   </div>
   <div class="l-tcwrapper">
    <div id="like-<%= sentence.id %>">
    <%= render 'likes/sentence_like', { sentence: sentence} %>
    </div>
   </div>
  <div id="title">
  <%= sentence.title %>
  </div>
  <div id="content">
  <%= sentence.summary %>

  </div>

  </div>
</div>
</div>