<%if user_signed_in? %>
 <% if Like.find_by(user_id: current_user.id, sound_id: sound.id) %>
 <div class="heart">
 <%=link_to sound_like_path(sound, sound.likes), {method: "delete", remote: true, class: "likes-count"} do %>
 <%= image_tag 'like.png', :size => '20' %>
 <% if sound.likes.count == 0 %>


 <%  else %>

 <%= sound.likes.count %>

 </div>
 <% end %>
 <% end %>
 <% else %>

 <div class="heart">
  <%= link_to sound_likes_path(sound), {method: "post", remote: true, class: "likes-count"} do %>
 <%= image_tag 'unlike.png', :size => '20' %>
 <% if sound.likes.count == 0 %>

 <%  else %>
 <%= sound.likes.count %>

</div>
<% end %>
 <% end %>
<% end %>
 <% else %>
<%= sound.likes.count %>
<% end %>