<%if user_signed_in? %>
 <% if Like.find_by(user_id: current_user.id, video_id: video.id) %>
  <div class="heart">
 <%=link_to video_like_path(video, video.likes), {method: "delete", remote: true, class: "likes-count"} do %>
<%= image_tag 'like.png', :size => '20' %>
 <% if video.likes.count == 0 %>

  <%# いいねがまだありません。 %>
 <%  else %>

 <%= video.likes.count %>

 </div>
 <% end %>
 <% end %>
 <% else %>
  <div class="heart">
 <%= link_to video_likes_path(video), {method: "post", remote: true, class: "likes-count"} do %>
<%= image_tag 'unlike.png', :size => '20' %>
<% end %>
 <% if video.likes.count == 0 %>

  <%# いいねがまだありません。 %>
 <%  else %>
 <%= video.likes.count %>

</div>

 <% end %>
<% end %>
 <% else %>
<%= video.likes.count %>
<% end %>