<%if user_signed_in? %>
 <% if Like.find_by(user_id: current_user.id, write_id: write.id) %>
  <div class="heart">
 <%=link_to write_like_path(write, write.likes), {method: "delete", remote: true, class: "likes-count"} do %>
<%= image_tag 'like.png', :size => '20' %>
 <% if write.likes.count == 0 %>

  <%# いいねがまだありません。 %>
 <%  else %>

 <%= write.likes.count %>

 </div>
 <% end %>
 <% end %>
 <% else %>
  <div class="heart">
 <%= link_to write_likes_path(write), {method: "post", remote: true, class: "likes-count"} do %>
<%= image_tag 'unlike.png', :size => '20' %>
<% end %>
 <% if write.likes.count == 0 %>

  <%# いいねがまだありません。 %>
 <%  else %>
 <%= write.likes.count %>

</div>

 <% end %>
<% end %>
 <% else %>
<%= write.likes.count %>
<% end %>