<h2 class="profile-title">Profile</h2>

<div class="profile-wrapper">
  <div class="left">
  <% if @usericon%>
 <%= image_tag @usericon.icon, :size => '80' %>
 <% else  %>
 <%= image_tag 'user.png', :size => '80' %>
 <% end %>
    <div class="artist-genre">
      <%= @user.genre %>
    </div>
    <div class="one-word">
      <%= @user.word %>
    </div>

    <div>
    <div class="count">
    </div>
      <%= render "follow_form" %>
    </div>

  </div>

  <div class="right">
    <div class="profile-info">
      <div class="profile-name"><%= @user.nickname %></div>
      <div class="profile-info-list">

      </div>
      <div class="profile-info-list">
        <%= @user.url_link %>
      </div>
      <div class="profile-info-list" id="introduction">
        <%= @user.introduction %>
      </div>
    </div>
    <% if current_user.id == @user.id %>
    <a href="/users/<%= @user.id %>/edit">
      <div class="edit-submit-post-profile">プロフィール編集</div>
    </a>
    <% end %>
  </div>

</div>
<h2 class="works-title">Works</h2>
  <div class="userWorks-content">
  <div class="worksGenre">
<ul>
      <li>
      <%= link_to  user_path(current_user.id) do %>
      ホーム
      <% end %>
      </li>
        <li>
         <%= link_to  user_images_path(current_user.id) do %>
      画像
      <% end %>
      </li>
      <li>
     <%= link_to  user_sounds_path(current_user.id) do %>
     音楽
      <% end %>
      </li>
      <li>
     <%= link_to  user_videos_path(current_user.id) do %>
     動画
      <% end %>
      </li>
      <li>
     <%= link_to  user_sentences_path(current_user.id) do %>
     文字
      <% end %>
      </li>
    </ul>
  </div>
  <div class="userWorksWrapper" >
    <% if @images.present? %>
      <% @images.each do |image| %>
      <div class="eachWorksBox">
        <%= render partial: 'users/images_works', locals: { image: image} %>
      </div>
    <% end %>
  <% else  %>
  <div class="notPostyet">
  まだ画像に関する作品はありません。
  </div>
  <% end %>

  </div>


<script>
  $(function(){
      var url = $(location).attr('href');
      $('#menu').find('a').each(function(){
          var link = $(this).attr('href');
          if(link == url){
              $(this).addClass('on');
          }
      });
  });
</script>