<div class="worksContent">
<div class="soundPR">
 <!--videoPR-->

  <div id="slideshow" class="slideshow">
 <div class="each">
  <%= image_tag 'video1.jpg' %>
  <span>Movie</span>
  </div>
    <div class="each">
  <%= image_tag 'video2.jpg' %>
   <span>Acting</span>
  </div>
     <div class="each">
  <%= image_tag 'video3.jpg' %>
   <span>LIVE</span>
  </div>
  <!--videoPR-->
 </div>


  <div class="newsWorks">
   <div id="new">
    Recent Videos
    </div>

    <div class="newVideos">
     <% @videos.each do |video| %>
     <%= link_to  video_path(video.id) do %>
    <div id="videoWrap">
    <% if video.video.attached? %>
      <video src="<%= rails_blob_path(video.video) %>" controlslist="nodownload type=" type="video/mp4" controls></video>

    <% end %>
      <div id="title">
     <%= video.title %>
      </div>
    </div>
    <% end %>
         <% end %>
    </div>

  </div>

  </div>
</div>

<script>
document.addEventListener("turbolinks:load", function()  {
	var img = $("#slideshow").children(".each"), // 画像を取得
		num = img.length, // 画像の数を数える
		count = 0, // 現在何枚目を表示しているかのカウンター
		interval = 5000; // 次の画像に切り替わるまでの時間(1/1000秒)

	img.eq(0).addClass("show"); // 最初の画像にshowクラス付与

	setTimeout(slide, interval); // slide関数をタイマーセット

	function slide() {
		img.eq(count).removeClass("show"); // 現在表示している画像からshowクラスを取り除く
		count++; // カウンターを一個進める
		if(count >= num) {
			count = 0; // カウンターが画像の数より大きければリセット
		}
		img.eq(count).addClass("show"); // 次の画像にshowクラス付与
		setTimeout(slide, interval); // 再びタイマーセット
	}
});
</script>

<!---
<div class="spaces" style="margin-top: 200px; margin-left: 100px;">

<% @videos.each do |video| %>
  <p>title:<%= video.title %></p>

  <p style="margin-bottom: 10px;">
  content: <%= video.content %>
  </p>
   --<%= simple_format(video.content.gsub!(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/, "")) %>

   ----------------------------
    <% if video.tags.any? %>
    <% video.tags.each do |tag| %>
      <p>#<%= tag.name %></p>
    <% end %>
    <% end %>
-------------------------------

  <p>poster:<%= video.user.nickname %></p>
  <% if video.video.attached? %>
  <video src="<%= rails_blob_path(video.video) %>" controlslist="nodownload type=" type="video/mp4" controls></video>
  <% end %>

    <div id="like-<%= video.id %>">
    <%= render 'likes/video_like', { video: video} %>
    </div>
    <% if user_signed_in? && current_user.id == video.user_id %>
  <%= link_to '編集', "/videos/#{video.id}/edit", method: :get %>
  <%= link_to '削除', "/videos/#{video.id}", method: :delete %>
  <% end %>
<% end %>

</div>
-->