<div class="home-wrapper">

 <div class="genre-title">
 <%= link_to  images_path do %>
 <li>Image </li>
 <% end %>
  <%= link_to  sounds_path do %>
 <li>Sound </li>
 <% end %>
  <%= link_to  videos_path do %>
 <li>Movie </li>
 <% end %>
  <%= link_to  sentences_path do %>
 <li>Text </li>
 <% end %>
 </div>

 <div class="popularWrap">
  <div id="pTitle">
  人気作品
  </div>
 <div class="pImageWrap" id="pWrap" >
     <% @likedImages.each do |image| %>
    <div class="pImages">
    <%= link_to image_path(image.id) do %>
    <%= image_tag image.image, :size => '50' %>
    <% end %>
    </div>
    <% end %>
 </div>
    <div class="pSounds">
    <div class="pSoundsWrap">
    <% @likedSounds.each do |sound| %>
    <%= link_to  sound_path(sound.id) do %>
      <div class="eachPsound">
    <audio src="<%= rails_blob_path(sound.sound)%>" type="audio/mp3" controls></audio>
    <div id="title">
      <%= sound.title %>
    </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="pVideos">
   <% @likedVideos.each do |video| %>
    <%= link_to  video_path(video.id) do %>
   <div class="pWrap">
    <div class="pVideoWrap">
     <% if video.video.attached? %>
    <video src="<%= rails_blob_path(video.video) %>" controlslist="nodownload type=" type="video/mp4" controls></video>
    <div>
    <div id="title">
     <%= video.title %>
     </div>
  </div>
   <% end %>
    <% end %>
    </div>
   </div>

   <% end %>
  </div>

<div class="pSentences">
<%  @likedSentences.each do |sentence| %>
<%= link_to  sentence_path(sentence.id) do %>
  <div class="pSwrap">
  <div class="left">
<%= sentence.content %>
  </div>
  <div class="right">
  <div id="title">
  <%= sentence.title %>
</div>
<%= sentence.summary %>
  </div>
  </div>
  <% end %>
  <% end %>
</div>

 </div>

</div>

