<div class="cover" style="margin-top: 300px">
    <tbody>
        <% @write.each do |write| %>
            <%= write.title %>
            <%= write.content %>
            <div id="like-<%= write.id %>">
            <%= render 'likes/write_like', { write: write} %>
            </div>
            <%= write.id %>

                <a href="/writes/<%= write.id %>">詳細ページへ</a>
                <% if current_user.id == write.user_id %>
                <%= link_to '削除', write_path(write.id), method: :delete %>
                <% end %>
                <% end %>

    </tbody>
</div>