<p style="font-size: 20px; margin-top: 50px; margin-left:100px;">

<div class="posts-wrapper-content">

<div class="preview" id="image">

 <% if @sound.sound.attached? %>

 <audio src="<%= rails_blob_path(@sound.sound)%>" type="audio/mp3" controls></audio>
<% end %>
</div>

<div class="work-info-wrapper">
<div class="name-word-wrapper">
<div class="icon-wrap">
  <% @icon = Icon.find_by(user_id: @sound.user_id) %>
    <% if @icon %>
      <%= link_to user_path(@sound.user.id) do %>
    <%= image_tag @icon.icon, :size => '30', class: 'work-usericon' %>
    <% end %>
    <% else %>
    <%= image_tag 'user.png', :size => '30', class: 'work-usericon'  %>
    <% end %>
  </div>
  <div id="nw-content">
    <div id="name-content">
    <%= link_to user_path(@sound.user.id) do %>
   <%= @sound.user.nickname %>
   <% end %>
    </div>
    <div id="word-content">
    <% if @sound.user.word %>
   <%= @sound.user.word %>
   <% else %>
   <%= @sound.user.genre %>
   <% end %>
    </div>
  </div>
</div>
<div class="commentwritten-wrapper">
    <div class="title-content-wrapper">
<div id="title">
<%= @sound.title %>
       <div class="post-date">
    <%= @sound.created_at.strftime("%Y/%m/%d") %>
    </div>
</div>

<div id="content">
<%= @sound.content %>

</div>
 <div class="work-comment-wrapper">
    <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
  </div>
    </div>
</div>
<div class="comment-create-wrapper">

<% if user_signed_in?  %>
<div class="comment-create-wrapper">
<div class="comment-create">
<div class="like-comment-wrap">
<div id="like-<%= @sound.id %>">
  <%= render 'likes/sound_like', { sound: @sound} %>
</div>
</div>
<div class="c-wrapper">

  <%= render partial: 'comments/form', locals: { comment: @comment, sound: @sound } %>
</div>
<% end %>
</div>
</div>
