
<div class="worksContent">
<div class="imagePR">
 <!--imagePR-->
  <div id="slideshow" class="slideshow">
  <div class="each">
  <%= image_tag 'image1.jpg' %>
  <span>Photo</span>
  </div>
    <div class="each">
  <%= image_tag 'image2.jpg' %>
   <span>Art</span>
  </div>
      <div class="each">
  <%= image_tag 'image4.jpg' %>
   <span>Painting</span>
  </div>
       <div class="each">
  <%= image_tag 'image5.jpg' %>
   <span>Collage</span>
  </div>
      <div class="each">
  <%= image_tag 'image8.jpg' %>
   <span>Illustration</span>
  </div>
  <!--imagePR-->
 </div>
   <div class="newsWorks">
    <div id="new">
    Recent Images
    </div>
  <div class="newImages">
  <% @images.each do |image| %>
    <%= link_to image_path(image.id) do %>
     <div class="imageWrap">
   <% if image.image.attached? %>

  <%= image_tag image.image %>

  <% end %>
        <div id="title">
        <%= image.title %>
      </div>
     </div>
     <% end %>
  <% end %>
    </div>
  </div>
</div>

<script>
document.addEventListener("turbolinks:load", function() {
	var img = $("#slideshow").children(".each"), // 画像を取得
		num = img.length, // 画像の数を数える
		count = 0, // 現在何枚目を表示しているかのカウンター
		interval = 5000; // 次の画像に切り替わるまでの時間(1/1000秒)

	img.eq(0).addClass("show"); // 最初の画像にshowクラス付与

	setTimeout(slide, interval); // slide関数をタイマーセット

	function slide() {
		img.eq(count).removeClass("show"); // 現在表示している画像からshowクラスを取り除く
		count++; // カウンターを一個進める
		if(count >= num) {
			count = 0; // カウンターが画像の数より大きければリセット
		}
		img.eq(count).addClass("show"); // 次の画像にshowクラス付与
		setTimeout(slide, interval); // 再びタイマーセット
	}
});
</script>
<!-----
<div class="spaces" style="margin-top: 200px; margin-left: 100px;">

<% @images.each do |image| %>

  <p>title:<%= image.title %></p>
  <p style="margin-bottom: 10px;">

  </p>
 --<%= simple_format(image.content.gsub!(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/, "")) %>
----------------------------
    <% if image.tags.any? %>
    <% image.tags.each do |tag| %>
      <p>#<%= tag.name %></p>
    <% end %>
    <% end %>
-------------------------------
  <p>poster:<%= image.user.nickname %></p>
  <% if image.image.attached? %>
   <%=  link_to image.image, 'data-lightbox': image.image do %>
  <%= image_tag image.image, :size =>'300' %>
  <% end %>
  <% end %>
<%= link_to 'detail', image_path(image.id) %>
<!-- like -->
  <div id="like-<%= image.id %>">
<%= render 'likes/image_like', { image: image} %>
</div>
<!-- like -->
<!-- comment -->
<% comment = Comment.where(image_id: image.id)%>
<%= link_to image_path(image.id) do %>
<%= image_tag 'comment.svg',  :size => '26' %>
<% end %>
<%= comment.count %>
<!-- comment -->
  <% if current_user.id == image.user_id %>
  <%= image.id %>
    <%= link_to 'delete', image_path(image.id), method: :delete %>
  <% end %>
<% end %>


</div>
------->