<div class="postShow">

<div class="posts-wrapper-content">
<div class="previewImage" id="image">
 <% if @image.image.attached? %>
 <%=  link_to @image.image, 'data-lightbox': @image.image do %>
  <%= image_tag @image.image, :size =>'600' %>
  <% end %>
<% end %>
</div>

<div class="work-info-wrapper">

<% if current_user.id == @image.user_id %>
  <div class="EditDeleteWrap">
      <!-- Trigger/Open The Modal -->
    <div id="myBtn"></div>

    <!-- The Modal -->
    <div id="myModal" class="modalWindow">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
      <div class="ED-wrapper">
      <%= link_to  edit_image_path(@image.id) do %>
      <div class="edit">
      編集する
      </div>
      <% end %>
      <%= link_to  image_path(@image.id), method: :delete do %>
      <div class="delete">
      削除する
      </div>
      <% end %>
      </div>
      </div>
    </div>
  </div>
<% end %>

<div class="name-word-wrapper">

<div class="icon-wrap">
  <% @icon = Icon.find_by(user_id: @image.user_id) %>
    <% if @icon %>
      <%= link_to user_path(@image.user.id) do %>
    <%= image_tag @icon.icon, :size => '30', class: 'work-usericon' %>
    <% end %>
    <% else %>
    <%= image_tag 'user.png', :size => '30', class: 'work-usericon'  %>
    <% end %>
  </div>
  <div id="nw-content">
    <div id="name-content">
    <%= link_to user_path(@image.user.id) do %>
   <%= @image.user.nickname %>
   <% end %>

    </div>

    <div id="word-content">
    <% if @image.user.word %>
   <%= @image.user.word %>
   <% else %>
   <%= @image.user.genre %>
   <% end %>
    </div>
  </div>

</div>


<div class="commentwritten-wrapper">
    <div class="title-content-wrapper">
<div id="title">
   <%= @image.title %>
       <div class="post-date">
    <%= @image.created_at.strftime("%Y/%m/%d") %>
    </div>
</div>

<div id="content">
   <%= @image.content %>

</div>
 <div class="work-comment-wrapper">
    <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
  </div>
    </div>

</div>
<div class="comment-create-wrapper">

<% if user_signed_in?  %>
<div class="comment-create-wrapper">
<div class="comment-create">
<div class="like-comment-wrap">
<div id="like-<%= @image.id %>">
  <%= render 'likes/image_like', { image: @image} %>
</div>
</div>
<div class="c-wrapper">

<%= render partial: 'comments/form', locals: { comment: @comment, image: @image } %>
</div>
<% end %>
</div>
</div>
</div>
</div>

  </div>




<script>
// Get the modal
var modal = document.getElementById("myModal");
// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

